.christmas span:nth-of-type(even){
    color:green;
}
.christmas span:nth-of-type(odd){
    color:red;
}

body {
    background-image: url("/party/assets/website-green-christmas-background.jpg");    
}
